@{
    ViewData["Title"] = "Home Page";
}
<!Doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width-device-width" ,initial-scale="1.0">
    <title>Super Car Spot</title>
    <link rel="stylesheet" href="./css/index.css" />
</head>
<body>
    <section class="home">
        <div class="text">
            <h1>Looking for a car</h1>
            <p>"Drive Beyond Limits, Embrace Freedom."</p>
            <div class="store">
                <img src="./images/playstore.png" alt="playstore icon">
            </div>
        </div>
        <div class="image">
            <img src="./images/cars/Home.png" alt="Car image">
        </div>
        <div>
            <a href="#" class="rent">Rent A Car</a>
        </div>
    </section>
</body>
</html>
