<h1>Companies</h1>

<ul>
    @foreach (var company in Model)
    {
        <li>
            <a asp-controller="Companies" asp-action="Browse" asp-route-id="@company.Id">
                @company.Name             
            </a>
        </li>
    }
</ul>